body {
  height: 100%;
  background-color: #101820FF;
}

th, td {
  padding: 15px;
  text-align: center;
}

table, td {
  margin: 25px;
  color: #00FF41;
  border: 2px solid white;
}

.btn-group {
  margin-top: 25px;
}